.App {
  width: 100vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
/* Header */
.logo {
  width: 20vw;
  margin-left: 5vw;
}
.header {
  display: flex;
  align-items: center;
}
/* Banner */
.banner {
  width: inherit;
  display: flex;
}
.restaurant {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  /* background-color: bisque; */
}
.restaurant-name {
  font-size: xx-large;
  font-weight: bolder;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.restaurant-text {
  font-size: large;
  text-align: left;
  color: #868a8a;
  margin-bottom: 2rem;
}
.restaurant-picture {
  object-fit: cover;
  width: 30vw;
  height: 17vh;
  border-radius: 3%;
}
/* MAIN */
.main {
  display: flex;
}
/* Categories */
.categories {
  background-color: #f3f5f5;
}
.categorie-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.categorie-meal:hover {
  background-color: red;
}
.categorie-meals {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categorie-meal {
  display: flex;
  justify-content: space-between;
  width: 25rem;
  background-color: white;
  margin: 2rem;
  border-radius: 3%;
}
.categorie-meal article {
  color: #8e9292;
  width: 12rem;
  overflow-y: hidden;
}
.meal-picture {
  object-fit: cover;
  width: 12vw;
  height: 10vh;
  border-radius: 3%;
  margin: 1rem;
}
/* Basket */
.ticket {
  width: 30vw;
}
.basket:hover {
  background-color: red;
}
